<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Mini Blog</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/views/style.css" th:href="@{/views/style.css}" type="text/css" media="screen,projection" />
</head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="#">mini<strong>BLOG</strong> 1.0</a></h1>
    <h2>For all your blogging needs.</h2>
    <ul id="nav">
      <li><a href="#" accesskey="h"><em>H</em>ome</a></li>
      <li><a href="#css" title="CSS and XHTML (a:c)" accesskey="c"><em>c</em>ss &amp; xhtml</a></li>
      <li><a href="#about" title="All about me (a:a)" accesskey="a"><em>A</em>bout the author</a></li>
      <li><a href="#contact" title="Get in Touch (a:o)" accesskey="o">C<em>o</em>ntact</a></li>
    </ul>
  </div>
  <div id="sidebar">
    <h1>The Sidebar</h1>
    <p> This is where you will put anything that uhm, belongs here really. Latest Comments. Submenus. Blogrolls. Affiliates. Anything! </p>
    <h1>Menu Take 2</h1>
    <ul class="submenu">
      <li><a href="#">Intro</a></li>
      <li><a href="#">css &amp; xhtml</a></li>
      <li><a href="#">About the author</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h1>Check it out!</h1>
    <ul class="submenu">
      <li><a href="#">Six Shooter Media</a></li>
      <li><a href="#">JamesKoster.co.uk</a></li>
      <li><a href="#">Buy a Button!</a></li>
      <li><a href="#">Open Web Design</a></li>
      <li><a href="#">OSWD</a></li>
    </ul>
    <p class="note"> Here is a special paragraph for any important notes that you might want to display. </p>
  </div>
  <div id="content">
    <h1><a href="" id="intro">Introduction</a></h1>
    <h2>Everyting needs an intro!</h2>
    <p> Hello and welcome to miniBLOG! This is just a simple, small template designed specifically for the blog obsessives. Regarding colours, I've left everything very plain using mainly greys. These colours are all easily changed via the stylesheet. The backgorund image can be changed easily too by opening it in a graphics program and adjusting the hue/saturation. Got something to say? Say it with miniBLOG! </p>
    <p> Speaking of the background image, it was created using a pattern which can be found on squidfingers.com. </p>
    <div class="article_menu"> <b>Posted on Thursday 08 December 2005</b> <a href="#">28 Comments</a> </div>
  </div>
  <div id="footer">
    <p> Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br />
&copy; All your copyright information here. </p>
  </div>
</div>
</body>
</html>
