# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MODULE_4\4. Data Binding & Form\testdatabinding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
