<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/employee}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/employee/createOrEdit}" th:object="${employeeForm}"
          method="post" novalidate="novalidate" enctype="multipart/form-data" style="padding-bottom: 20px">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Date</label>
            <input type="date" th:field="*{date}" required />
        </div>
        <div>
            <label>Avatar</label>
            <input type="file" th:field="*{avatar}"/>
        </div>
        <div>
            <lablel for="women">Women</lablel>
            <input type="radio" th:field="*{gender}" id="women" th:value="true"/>
            <label for="men">Men</label>
            <input type="radio" th:field="*{gender}" id="men" th:value="false"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>